.popup {
  // z-index: 99;
  position: absolute;
  max-width: 300px;
  background: rgba(255, 255, 255, .7);
  padding: 10px;
  opacity: 0;
  p, a {
    margin: 0px;
  }
  .x {
    float: right;
  }
  img {
    max-width: 300px;
  }
}
