@import 'popup';


// VARIABLES

// breakpoints for media queries
$phone-lg  : 400px;
$tablet    : 600px;
$desktop   : 800px;

//colors for gradient
$color1    : #f2e0bd;
$color2    : #85b4fc;
$color3    : #6fc2b9;
$color4    : #9fe8f2;
$color5    : #f2e0bd;

html {
  background: linear-gradient(302deg, $color1, $color2, $color3, $color4, $color5);
  background-size: 1000%;
  animation: gradient 25s infinite ease-in-out alternate;
  @keyframes gradient {
    0% { background-position: left; }
    100% { background-position: right; }
  }
}
body {
  padding: 0px;
  margin: 0px;
  // overflow: hidden;
}

.bg {
  height: 100vh;
  width: 100vw;
  background: url('https://upload.wikimedia.org/wikipedia/commons/4/4a/Paimio_Sanatorium2.jpg');
  background-size: cover;
  opacity: .1;
  z-index: -999;
  position: absolute;
}

.container {
  padding: 20px;
  @media (min-width: $desktop) {
    width: $desktop;
    margin: auto;
  }
}

.description {
  max-width: 600px;
}

.lower {
  margin-top: 60px;
  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    height: 100%;
    column-count: 1;
    @media (min-width: $tablet) {
      column-count: 2;
    }
    @media (min-width: $desktop) {
      column-count: 3;
    }
    li {
      word-wrap: break-word;
      margin: 4px 0;
    }
  }
}

a {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}
