doctype html
html
  head
    title A Healing Machine
    |     
    meta(charset='utf-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    meta(name='description', content='To heal the healing machine')
    |     
    link(rel='stylesheet', href='css/styles.css', type='text/css')
  |   
  body
    .container
      section.upper
        h1 Healing the Healing Machine
        |         
        p.description
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      |       
      section.lower
        ul
          li
            a(href='#') foo
          |             
          li
            a(href='#') bar
          |             
          li
            a(href='#') baz
          |             
          li
            a(href='#') foofoofoo
          |             
          li
            a(href='#') foo
          |             
          li
            a(href='#') bar
          |             
          li
            a(href='#') baz
          |             
          li
            a(href='#') foo
          |             
          li
            a(href='#') foo
          |             
          li
            a(href='#') bar
          |             
          li
            a(href='#') baz
          |             
          li
            a(href='#') foo
          |             
          li
            a(href='#') foofoofoofoofoo
          |             
          li
            a(href='#') bar
          |             
          li
            a(href='#') bazfoofoofoooo
          |             
          li
            a(href='#') foo
          |             
          li
            a(href='#') foo
          |             
          li
            a(href='#') bar
          |             
          li
            a(href='#') baz
          |             
          li
            a(href='#') foofoofoofoo
          |             
          li
            a(href='#') foo
          |             
          li
            a(href='#') bar
          |             
          li
            a(href='#') baz
          |             
          li
            a(href='#') foo
          |             
          li
            a(href='#') foo
          |             
          li
            a(href='#') bar
          |             
          li
            a(href='#') baz
          |             
          li
            a(href='#') foofoofoo
          |             
          li
            a(href='#') foo
          |             
          li
            a(href='#') bar
          |             
          li
            a(href='#') baz
          |             
          li
            a(href='#') foo
          |             
          li
            a(href='#') foo
          |             
          li
            a(href='#') bar
          |             
          li
            a(href='#') bazfoo
          |             
          li
            a(href='#') foofoofoofoofoo
          |             
          li
            a(href='#') bar
          |             
          li
            a(href='#') baz
          |             
          li
            a(href='#') foofoo
          |             
          li
            a(href='#') foobar
          |             
          li
            a(href='#') barbarbar
          |             
          li
            a(href='#') bazfoo
          |             
          li
            a(href='#') foofoo
          |             
          li
            a(href='#') bar
          |             
          li
            a(href='#') baz
          |             
          li
            a(href='#') foofoo
